.code_area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result{
    width:80%;
}

textarea{
    max-width: 100%;
    border: 2px solid black;
}
@media only screen and (max-width: 600px){
    .code_area{
        flex-direction: column;
    }

    .result{
        width:100%;
    }
}