
textarea{
    
    border-radius: 40px;
    /* padding:40px; */
    max-width: 100%;
    overflow: hidden;
    
    box-shadow: 4px 4px 8px;
}
textarea:focus{
    outline: none;
}


select {
    border-radius: 50px;
    padding: 15px;
    padding-left: 20px;
}
select:focus{
    outline:none
}

.source{
    padding:40px
}

img{
    /* width:50px; */
    cursor: pointer;
    
    
}
@keyframes example {
    0%   {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
  }
div img:hover{
    animation-name: example;
    animation-duration: 1s;
    

}

.submit-clear{
    padding:10px
}

.btn-border{
    font-size: large;
    padding:5px 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .source{
        padding:20px;
        padding-top: 35px;
    }

}